.menu {
  margin: 0;
  padding: 10px;
  padding-right: 0;
  background-color: #e64a19;
  position: fixed;
  left: -130px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 150px;
  transition: left 0.8s ease-out;
  li {
    display: block;
  }
  &:hover {
    left: 0;
    transition: left 0.8s ease;
  }
  color: white;
}
